*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: aliceblue;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  width: 600px;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main h1 {
  font-size: 3.5rem;
  font-family: serif;
  text-align: center;
  margin: 0 0 40px;
  color: #24424e;
}

main span {
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  color: #24424e;
}

main span b {
  font-weight: bold;
}

#game {
  margin-top: 5px;
  -webkit-box-shadow: 0px 20px 50px 10px rgba(90, 118, 141, 0.4);
          box-shadow: 0px 20px 50px 10px rgba(90, 118, 141, 0.4);
}

#instructions {
  font-size: 1.3rem;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #24424e;
}
